#content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
    height: 100vh;
    overflow: auto;
}

.to-do-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 250px;
}

.todo-container {
    display: flex;
    align-items: flex-start;
}

button {
    padding-bottom: 20px;
    border: none;
    background: none;
}

button:hover {
    color: rgb(235, 89, 89);
    cursor: pointer;
}

.to-do-list-title {
    margin-bottom: 10px;
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    outline: none;
}

.to-do-list-title:hover {
    border-style: solid;
    border-color: lightgrey;
}

.to-do-list-title:focus {
    border-style: solid;
    border-color: grey;
}

.task {
    border: none;
    background: none;
    outline: none;
}

.task:hover {
    border-style: solid;
    border-color: lightgrey;
}

.task:focus {
    border-style: solid;
    border-color: grey;
}

.task-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 13px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-color: lightgrey;
}

.task-container:focus {
    border-style: solid;
    border-color: grey;
}

#send-img {
    width: 20px;
    padding: 3px;
    border-radius: 25px;
}

.exit-img {
    width: 25px;
    border-radius: 25px;
}

.exit-img:hover {
    background-color: lightgrey;
}

input {
    width: fit-content;
}

.task-title, .task-date, .task-priority, .task-description {
    border: none;
    padding: 2px;
    margin: 0px;
}

.task-date, .task-priority {
    font-size: 11px;
    color: grey;
}

.checkbox {
    margin-top: 15px;
    padding: 8px;
    border: solid;
    border-radius: 100%;
}

.task-button {
    margin-top: 10px;
}